# Jekyll build output
_site/

# macOS system files
.DS_Store
static/.DS_Store
static/images/.DS_Store

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore backup or temporary files
*~
*.swp
*.bak

# Ignore generated favicons or zip bundles
*.zip
static/images/favicon/